<mat-toolbar class="app-header">
    <div class="header-container">
        <div class="header-left">
            <button mat-icon-button class="menu-button">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="app-title" routerLink="/dashboard">HR SAAS</h1>
        </div>

        <nav class="header-nav">
            @for (item of filteredNavItems; track item.route) {
                <a mat-button [routerLink]="item.route" routerLinkActive="active">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span>{{ item.label }}</span>
                </a>
            }
        </nav>

        <div class="header-right">
            <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
            </button>

            <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                <mat-icon>account_circle</mat-icon>
                @if (currentUser$ | async; as user) {
                    <span class="user-name">{{ user.name }}</span>
                }
                <mat-icon>arrow_drop_down</mat-icon>
            </button>

            <mat-menu #userMenu="matMenu" xPosition="before">
                @for (item of filteredMenuItems; track item.label) {
                    @if (item.divider) {
                        <mat-divider></mat-divider>
                    } @else {
                        <button mat-menu-item (click)="handleMenuClick(item)">
                            <mat-icon>{{ item.icon }}</mat-icon>
                            <span>{{ item.label }}</span>
                        </button>
                    }
                }
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
