<!-- @dsCard group="Forms" height=330 subtitle="Default, focus, error, disabled" -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet" />
<!-- ds:base -->
<div style="max-width: 360px">
    <div class="form-group">
        <label>Leave type</label><input class="form-control focus" value="Annual leave" /><span class="form-hint"
            >Balance 20 days.</span
        >
    </div>
    <div class="form-group">
        <label>Start date</label><input class="form-control error" value="14/10/2026" /><span class="form-error"
            >Overlaps an approved request on 15/10/2026.</span
        >
    </div>
    <div class="form-group">
        <label>Approver</label><input class="form-control" value="Assigned automatically" disabled />
    </div>
</div>
