.loading-button {
    min-height: calc(var(--spacing-xl) + var(--spacing-xs));
}

.content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
    min-height: var(--spacing-lg-minus);
}
